@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:wght@500&family=Roboto:wght@400;700&display=swap');

@import "tailwindcss";
@plugin "daisyui";

*{
  font-family: "Outfit", sans-serif;
}